html{
    background: rgb(196, 196, 190);
    font-family: 'Onest', sans-serif;
    margin: 10px
}

h1 {
    background: #7989caa6;
    color: #ffffff;
}

img {
    border-radius: 115px;
}

form {
    border: 10px solid white;
    width: 500px;
    padding: 40px;
    margin: 30px;
}


.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.form-input {
    width: 200px;
    height: 35px;
    font-size: 18px;
    padding: 3px;

}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background: white;
    border: none;

}

table {
    position: relative;
    left: 25%;  
}

table th {
    border-bottom: 1px dotted black;
}

table td {
    border: 1px solid black;
    background: lightgrey;
    height: 55px;
    
}

table tr:nth-child(odd) {
    background: white
}