html{
    background: rgb(196, 196, 190);
    font-family: 'Onest', sans-serif;
    margin: 100px
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    font-size: 40px;
}

h1 {
    background: #7989caa6;
    color: #ffffff;
    padding: 100px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #b5adad;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #7989caa6;
    color: white;
  }

img {
    border-radius: 115px;

}

form {
    border: 10px solid white;
    width: 500px;
    padding: 40px;
    margin: 30px;
}

.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.form-input {
    width: 200px;
    height: 35px;
    font-size: 18px;
    padding: 3px;

}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background: white;
    border: none;

}

table {
    position: auto; 
    width: 50% 
}
th {
    text-align: center;
    height: 70px
}

td {
    text-align: center;
  }

table th {
    border-bottom: 1px dotted black;
    text-align: center;
}

table td {
    border: 1px solid black;
    background: lightgrey;
    height: 55px;
    
}

table tr:nth-child(odd) {
    background: white
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  div.container {
    text-align: center;
  }
  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }
  
  